
#source_up 2>/dev/null || true
source_env_if_exists .envrc.local 2>/dev/null || true

test -e .private_vp &&\
  export ANSIBLE_VAULT_PASSWORD_FILE=$PWD/.private_vp

export PATH="$(brew --prefix coreutils)/libexec/gnubin:/usr/local/bin:$PATH"
export PATH=$PWD/scripts:$PATH

